#home{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.lefthome{
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-left: 40PX;
}

.righthome{
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.righthome img {
    width: 60%;
    filter: drop-shadow(2px 2px 20px rgb(116, 201, 225));
}

.line2{
    font-size: 50px;
    background: linear-gradient(to right, rgb(66, 180, 205),white);
    background-clip: text;
    color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line3{
    font-size: 25px;
}

.Details button{
    padding: 10px 30px;
    color: black;
    border: 2px solid rgb(66, 180, 205);
    margin-top: 30px;
    background-color: rgb(66, 180, 205);
    border-radius: 20px;
    font-size: 19px;
    transition: all 0.2s;
    cursor: pointer;
}

.Details button:hover{
    background-color: transparent;
    color: rgb(66, 180, 205);
}

@media(max-width:750px){
    #home{
        flex-direction: column-reverse;
    }
    .lefthome{
        width: 100%;
        height: 50vh;
    }
    .righthome{
        width: 100%;
        height: 50vh;
        align-items: end;
    }
}